
* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, DejaVu, Arial, sans-serif;
    font-family: FontAwesome;
    /* font-family: Material Design Icons; */
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid #64727D;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces {
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window {
	padding: 0 20px;
    background-color: #64727D;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#custom-clock,
#battery,
#disk,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#filesystem,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#language,
#idle_inhibitor,
#mpd {
    padding: 0 8px;
    color: #ffffff;
    background-color: rgba(43, 48, 59, 0.9);
    border-bottom: 3px solid rgba(100, 114, 125, 1);
}

#battery.charging:not(.good) {
    background-color: #3dbc20;
}

#battery.warning:not(.charging) {
    background-color: #bd9c20;
}

@keyframes blink
{ to { color: #000000; } }

#battery.critical:not(.charging) {
    background-color: #bd2c40;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: #6a3c45;
}

#temperature {
}

#temperature.critical {
    background-color: #bd2c40;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #bd2c40;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#keyboard {
    margin: 0px;
}
#keyboard-state label {
    color: grey;
    margin: 0 3px 0 0;
}
#keyboard-state label.locked {
    color: green;
}
