
* {
	#font-size: 40px;
}

span[vimbhint="label"],
span[vimbhint="label focus"]
{
	font-size: 16px !important;
	opacity: 1 !important;
	border-radius: 5px;
	text-align: center;
	margin-left: -20px !important;
}

span[vimbhint="label"]
{
	background-color: #AAA !important;
}
