
:- set_prolog_flag(generate_debug_info, true).
:- set_prolog_flag(debug_on_interupt, false).
:- set_prolog_flag(double_quotes, codes).
%:- set_prolog_flag(gui, false).
%:- set_prolog_flag(xpce, false).

:- trap(_).

:- abolish( prolog:show_profile_hook/1 ).
